[user]
	email = xaver10610@gmail.com
	name = Xaver106
	signingKey = B1A415AB920AFDA2
[gpg]
	program = gpg
[commit]
	gpgSign = true
[pull]
	rebase = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
[gc]
	autoDetach = false
